.sec_services {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5em 0em 5em 0em;
  color: white;
  top: -1em;
}
.title_service{
  font-size: 22px;
  padding-bottom: 0.5em;
}
.title_profile i{
  margin-right: 14px;
}
.icon_box{
  height: 4.2em;
}

.sec_services .column{
  text-align: center;
}
